@Symtext {
  font-family: Symtext;
  src: url(./assets/Symtext.ttf);
}

@import url(./assets/Symtext.ttf);


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: Symtext;
}



.background {
  background-image: url(./assets/background1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.josephine{
  font-family: 'Josefin Sans', sans-serif;
}
